.alarm {
  &.on {
    animation: bgChange 300ms linear infinite;
  }
  &__time {
    letter-spacing: -8px;
  }
  &__switch {
    position: relative;
    appearance: none; outline: none;
    width: 50px; height: 30px;
    background-color: color('white'); border: 1px solid color('gray');
    border-radius: 50px; box-shadow: inset -20px 0 0 0 color('white');
    transition-duration: 50ms;
    &:after {
      content: "";
      position: absolute;
      top: 1px; left: 1px;
      width: 26px; height: 26px;
      background-color: transparent;
      border-radius: 50%; box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
    }
    &.on {
      border-color: color('green');
      box-shadow: inset 20px 0 0 0 color('green');
      &:after {
        left: 20px;
        box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
      }
    }
  }
}

@keyframes bgChange {
  0% {
    background-color: color('black');
  }
  50% {
    background: color('black2');
  }
  100% {
    background: color('black');
  }
}
